#pieCanvas{
    border: 1px black solid;
    width: 800px;
    height: 800px;
    margin: 10px;
}

#canvDiv{
    display: flex;
    justify-content: center;
    visibility: hidden;
}

#buttonDiv{
    display: flex;
    justify-content: center;
}

#aboutDiv{
    background-color: lightblue;
    border: 3px solid dodgerblue;
    padding: 10px;
    margin: auto;
    text-align: center; 
}

#canvasOptions{
    visibility: hidden;
}

#drop-target{
    border: 3px grey dashed;

}

#inputInputsRow{
    height: 50px;
}

label{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}